
body {
  background-color: #f8f9fa;
}

main {
  margin-top: 10px;
}

h1 {
  margin-bottom: 0.25rem;
}

footer small {
  font-size: 0.8rem;
}

.card-img-top {
  display: block;
  max-width: 70% !important;  
  width: auto !important;     
  height: auto;
  margin: 0.75rem auto 0.5rem;  
  object-fit: contain;        
  border-radius: 10px;
}


@media (max-width: 576px) {
  .card-img-top {
    max-width: 60% !important;
  }

  .card {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}


